@font-face {
  font-family: 'titulo';
  src: url('../../assets/fonts/FontsFree-Net-Cubao_Free_Wide.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texto';
  src: url('../../assets/fonts/aiyari-tropika-island-int.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}