@use "../../public/assets/fonts/fonts.scss" as *;
@use "./variables" as *;
@use "./mixins" as *;
@use "./fonts.scss" as *;

@forward "./_variables.scss";
@forward "./_mixins.scss";
@forward "./fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
}

:root {
  width: 100dvw;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "FS Me", 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;

  /*&:not(:disabled):active {
    box-shadow: $button-box-shadow;
  }*/

  &:disabled {
    cursor: not-allowed;
  }
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:focus,
a:active {
  color: inherit;
  outline: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

label:has(+ input:required)::after {
  content: ' *';
}

label:has(+ div input:required)::after {
  content: ' *';
}

//tem que ser imorttant para sobrepor o css da biblioteca (shit biblioteca)
.swiper-pagination-bullet{
  background-color: #B8B8B8 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: rgba(#387eff, 0.7) !important;
  filter: hue-rotate(0deg) saturate(2) brightness(1.7) !important;
}